<!-- Footer -->
<div class="container">
  <hr>
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; Midas Bio Tech 2004</p>
          </div>
      </div>
  </footer>
</div>
<!-- /.container -->
